# Entorno virtual
.venv/

# Base de datos local
instance/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Node (Tailwind)
node_modules/

# Variables de entorno
.env
.env.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db